<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>My Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/toAddPics.css" rel="stylesheet"> 
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="stylesheet" href="../css/stylish-portfolio.css" />
	</head>

	<body class="loading">

		<div id="wrapper">

	    {{> menu_bar_signedin}}
	<!-- //////////////////////////////////////////////////////////////////////- -->

		
		<section id="moveit">
			<br>
			<br>
			<br>
			<h1>Welcome To Your Profile!</h1>
			
			<div id="home-buttons">
				<!--<li><a href="/saved_trips" class="icon fa-twitter">Saved Trips</a></li>
				<li><a href="/saved_profiles" class="icon fa-facebook">Saved Profiles</a></li>
				<li><a href="/edit_tripdiary" class="icon">Edit Trip Diary</a></li>-->
				<a href="/edit_tripdiary" class="btn btn-dark btn-lg">Edit Trip Diary</a>
				<a href="/saved_trips" class="btn btn-dark btn-lg">Saved Trips</a>
				<a href="/saved_profiles" class="btn btn-dark btn-lg">Saved Users</a>
			</div>
			
			<!-- <section id="banner">
				<header>
					<h2>This Is My Journey</h2>
				</header>
				<footer>
					<a href="#first" class="button style2 scrolly">Act on this message</a>
				</footer>
			</section> -->

				<!--
				<section id="moveit">
					<h1>Welcome!</h1>
					
					<div>
						<li><a href="/saved_trips" class="icon fa-twitter">Saved Trips</a></li>
						<li><a href="/saved_profiles" class="icon fa-facebook">Saved Profiles</a></li>
						<li><a href="/edit_tripdiary" class="icon fa-dribbble">Edit Trip Diary</a></li>
					</div>
					-->

<!--
					<div class="container">

					<h1>My Profile</h1>-->
<!--
					{{#each addPicture}}
					<div class="addPicture">
						<img class="img-responsive img-rounded" src="{{imagesrc}}">
						<a href="#" id="clickr">
							<h3>{{pictitle}}</h3>
						</a>
						<p>{{description}}</p>
					</div>
					{{/each}}

					<div class="form-group">
							<form action="upload.php" method="post" enctype="multipart/form-data">
								<label for="imagesrc">Select Image for Upload</label>
								<input type="file" name="imagesrc" id="imagesrc">
							</form>
					</div>-->


		<!-- <section id="footer">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</section> -->
<!--
  <div class="container">
  <a href="/index_proj">HOME</a>
	<h1>My Profile</h1>
	{{#each addPicture}}
	<div class="addPicture">
		<img class="img-responsive img-rounded" src="{{imagesrc}}">
		<a href="#" id="clickr">
			<h3>{{pictitle}}</h3>
		</a>
		<p>{{description}}</p>
	</div>
	{{/each}}
	<div class="form-group">
			<form action="upload.php" method="post" enctype="multipart/form-data">
    			<label for="imagesrc">Select Image for Upload</label>
    			<input type="file" name="imagesrc" id="imagesrc">
			</form>
		</div>
	<form id="addImageForm" role="form" method="get" action="/addPicture">
		<h3>Add an Image</h3>
	    <div class="form-group">
	      <label for="pictitle">Title:</label>
	      <input type="text" class="form-control" id="pictitle" placeholder="Title" name="pictitle">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the Image"></input>
	</form>
  <div>-->
	</section>
<!-- 	<footer id="footer">
		<h1>Adam Jensen</h1>
		<nav>
			<ul>
				<li><a href="/saved_trips" class="icon fa-twitter"><span class="label">Saved Trips</span></a><h3>Saved Trips</h3></li>
				<li><a href="/saved_profiles" class="icon fa-facebook"><span class="label">Saved Profiles</span></a><h3>Saved Profiles</h3></li>
				<li><a href="/edit_tripdiary" class="icon fa-dribbble"><span class="label">Edit Trip Diary</span></a><h3>Edit Trip Diary</h3></li>
			</ul>
		</nav>
	</footer> -->
<!--
					<form id="addImageForm" role="form" method="get" action="/addPicture">
						<h3>Add an Image</h3>
					    <div class="form-group">
					     	<label for="pictitle">Title:</label>
					     	<input type="text" class="form-control" id="pictitle" placeholder="Title" name="pictitle">
					    </div>
					    <div class="form-group">
					     	<label for="description">Description:</label>
					     	<input type="text" class="form-control" id="description" placeholder="Description" name="description">
					    </div>
					    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the Image"></input>
					</form>
				
				</section>
		</div>-->


	    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

<script>
    $(document).ready(function () {

        // you want to enable the pointer events only on click;

        $('#map_canvas').addClass('scrolloff'); // set the pointer events to none on doc ready
        $('#contact').on('click', function () {
            $('#map_canvas').removeClass('scrolloff'); // set the pointer events true on click
        });

        // you want to disable pointer events when the mouse leave the canvas area;

        $("#map_canvas").mouseleave(function () {
            $('#map_canvas').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
        });
    });
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

	</body>
</html>